- extends "DexnodeBookBundle::layout.html.haml"
- block content
  %div(class="row-fluid")
    %div(class="row")
      %div(class="col-xs-3 col-md-2")
        %a(href="#" class="thumbnail")
          %img(data-src="/books/en/alice_in_wonderland---1396881301.jpg" src="/books/en/alice_in_wonderland---1396881301.jpg")



