!!!
%html
  %head
    %title
      - block title
      - endblock
    %link(rel='stylesheet' href='/css/bootstrap.css')
    - block stylesheets
    - endblock
  %body
    %div(class="container")
      - block body
      - endblock
      %footer
        %div(class='row-fluid')
          %div(class='col-lg-12')
            %ul(class='list-unstyled')
              %li
                %a(href='https://github.com/david-soyez/backbook') Github
              %li
                %a(href='/rss') RSS
              %li
                %a(href='#') Faire un don        
    - block javascripts
    - endblock
    %script(src='/js/jquery-1.11.0.js')
    %script(src='/js/bootstrap.js')