!!!
%html
  %head
    %title
      - block title
      - endblock
    %link(rel='stylesheet' href='/css/bootstrap.css')
    - block stylesheets
    - endblock
  %body
    - block body
    - endblock
    - block javascripts
    - endblock